# Firebase Configuration
FIREBASE_API_KEY=AIzaSyC6Jz08n7YJ07d8JgEIsYXL1l6AywpYmtQ
FIREBASE_AUTH_DOMAIN=manager-9195f.firebaseapp.com
FIREBASE_PROJECT_ID=manager-9195f
FIREBASE_DATABASE_URL=https://manager-9195f-default-rtdb.europe-west1.firebasedatabase.app
FIREBASE_STORAGE_BUCKET=manager-9195f.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=1025545119741
FIREBASE_APP_ID=1:1025545119741:web:586ccba5c0fbb6a0f71b94
FIREBASE_MEASUREMENT_ID=G-Y367WXSZ14

# Admin credentials
ADMIN_USER=admin
ADMIN_PASS=123456
